table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr {
    background-color: #ddd;
}

th {
    text-align: left;
    background-color: turquoise;
    color: black;
}
